@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  background: #cacaca;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

a {
  color: #333333;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 1em;
}

.navbar {
  background: white;
  padding: 0.5em;
  position: fixed;
  z-index: 998;
  top: 0;
  width: 100%;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .logo {
  margin: 5px;
  height: 30px;
}

.navbar .menu {
  display: block;
  position: fixed;
  z-index: 999;
  right: 0;
  top: 0;
  background: #777777;
  padding: 1em;
  min-width: 30%;
  min-height: 40vh;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar .menu .main-list {
  padding-top: 2.5em;
  padding-left: 1em;
  padding-bottom: 0.2em;
}

.navbar .menu .main-list li {
  padding: 0.2em 0 0.2em 0;
}

.navbar .menu .main-list li a {
  color: white;
  text-decoration: none;
  display: block;
  text-align: right;
  font-size: 1.2em;
}

.navbar .menu .main-list li a:hover {
  font-weight: bold;
}

.navbar .menu .main-list .submenu {
  padding-right: 2em;
}

.navbar .hide {
  display: none;
}

.navbar .menubutton {
  display: inline-block;
  cursor: pointer;
  z-index: 1000;
  margin-right: 25px;
}

.hero {
  text-align: center;
  margin-top: 4.5em;
}

.hero .profile {
  height: 200px;
  border-radius: 50%;
}

.hero h1 {
  font-weight: bold;
  color: #111111;
  margin: 0.5em;
}

.hero p {
  font-size: 1.1em;
  color: #333333;
  margin: 0.5em;
}

.aboutMe {
  background-color: #777777;
  padding: 1em;
}

.aboutMe h3 {
  text-align: center;
  margin: 0.2em 0;
  color: #eeeeee;
  font-size: 1.3em;
  letter-spacing: 0.05em;
}

.aboutMe .container .selectedSection {
  min-height: 175px;
  margin: 1em;
  padding: 1em;
  background-color: #555555;
}

.aboutMe .container .selectedSection h4 {
  text-align: center;
  margin: 0.2em 0;
  color: #cccccc;
  letter-spacing: 0.05em;
}

.aboutMe .container .selectedSection ul {
  margin: 0.75em 0.75em;
}

.aboutMe .container .selectedSection p {
  margin: 0.5em;
  font-size: 0.8em;
  color: #cccccc;
}

.aboutMe .container .hiddenSection {
  display: none;
}

.aboutMe .container .aboutMeMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.aboutMe .container .aboutMeMenu a {
  font-size: 0.8em;
  color: #cccccc;
  text-decoration: none;
  padding: 5px;
}

.aboutMe .container .aboutMeMenu a:hover {
  color: #e2e2e2;
}

.aboutMe .container .aboutMeMenu .selectButton {
  color: white;
  font-size: 0.8em;
}

.aboutMe .container .aboutMeMenu .selectButton:hover {
  color: white;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  margin-top: -140px;
  margin-left: -20px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.contact {
  padding: 1em;
}

.contact .container h3 {
  text-align: center;
  margin: 0.2em 0;
  color: #222222;
  font-size: 1.3em;
  letter-spacing: 0.05em;
}

.contact .container ul {
  margin: 1.5em 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.contact .container .CV {
  margin-bottom: 0;
  color: #cacaca;
  text-decoration: none;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  background: black;
  padding: .1em .4em;
  border-radius: 5em;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: white;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  background-color: white;
}

object {
  pointer-events: none;
}
/*# sourceMappingURL=main.css.map */