@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    background: #cacaca;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

a {
    color: #333333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 1em;
}

.navbar {
    background: white;
    padding: 0.5em;
    position: fixed;
    z-index: 998;
    top: 0;
    width: 100%;
    
    .container {
        display: flex;
        place-content: space-between;
    }

    .logo {
        margin: 5px;
        height: 30px;
    }

    
    
    .menu {
        display: block;
        position: fixed;
        z-index:999;
        right: 0;
        top: 0;
        background: #777777;
        padding: 1em;
        min-width: 30%;
        min-height: 40vh;
        transition: 0.2s;

        .main-list {
            padding-top: 2.5em;
            padding-left: 1em;
            padding-bottom: 0.2em;
            li {
                padding: 0.2em 0 0.2em 0;
                a {
                    color: white;
                    text-decoration: none;
                    display: block;
                    text-align: right;
                    font-size: 1.2em;

                    &:hover {
                        font-weight: bold;
                    }
                }
            }
            .submenu {
                padding-right: 2em;
            }
        }
    }

    .hide {
        display: none;
    }    

    .menubutton {
        display: inline-block;
        cursor: pointer;
        z-index: 1000;
        margin-right: 25px;
    } 
}

.hero {
    text-align: center;
    margin-top: 4.5em;

    .profile {
        height: 200px;
        border-radius: 50%;
    }

    h1 {
        font-weight: bold;
        color: #111111;
        margin: 0.5em;
    }

    p {
        font-size: 1.1em;
        color: #333333;
        margin: 0.5em;
    }
}

.aboutMe {
    background-color: #777777;
    padding: 1em;
    
    h3 {
        text-align: center;
        margin: 0.2em 0;
        color: #eeeeee;
        font-size: 1.3em;
        letter-spacing: 0.05em;
    }

    .container {
        .selectedSection {
            min-height: 175px;
            margin:1em;
            padding:1em;
            background-color: #555555;

            h4 {
                text-align: center;
                margin: 0.2em 0;
                color: #cccccc;
                letter-spacing: 0.05em;
            }

            ul {
                margin: 0.75em 0.75em;
            }

            span {
                font-size: 0.8em;
                color: #cccccc;
            }

            a {
                text-decoration: none;
                font-size: 0.8em;
                color: #eeeeee; 
            }
        }

        .hiddenSection {
            display: none;
        }
        
        .aboutMeMenu {
            display: flex;
            place-content: space-between;
            padding: 0 15px 0 15px;
            a {
                font-size: 0.8em;
                color: #cccccc;
                text-decoration: none;
                //border: 3px solid white;
                padding:5px;

                &:hover {
                    color: #e2e2e2;
                }
            }

            .selectButton {
                color: white;
                font-size:0.8em;
                &:hover {
                    color: white;
                }
            }
        }
    }
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    margin-top: -140px;
    margin-left: -20px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.projects {
    .container {
        h3 {
            text-align: center;
            margin: 0.2em 0;
            color: #222222;
            font-size: 1.5em;
            letter-spacing: 0.05em; 
        }

        li {
            margin: 0.5em 0 0.5em 0;
            div {
                margin: 1em;
                padding: 0.5em;
                background-color: #999999;
                text-align: center;
                h4 {
                    margin:0.2em;
                    font-size: 2em;
                    color: #eeeeee;
                    font-weight:normal;
                }
                img {
                    width: 50%;
                }
            }
        }
    }
}

.contact {
    padding: 1em;
    .container {
        h3 {
            text-align: center;
            margin: 0.2em 0;
            color: #222222;
            font-size: 1.3em;
            letter-spacing: 0.05em; 
        }

        ul {
            //padding: 0 15em 0 15em;
            margin: 1em 5em 0 5em;
            display: flex;
            place-content: space-between;
        }

        .CV {
            margin-bottom:0;
            color: #cacaca;
            text-decoration: none;
            //border: 3px solid white;
            padding:5px;
            font-size: 15px;
            font-weight: bold;
            //background: #0077b5;
            background: black;
            padding: .1em .4em;
            border-radius: 5em;
        }

    }
}
  

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  transition: 0.2s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
  background-color: white;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
  background-color: white;
}

object {
  pointer-events: none;
}
